<div *ngIf="show" class="spinner-load">
  <div class="row spinner-body">
    <div class="col-md-12" style="text-align: center;">
      <div class="spinner-grow text-dark" role="status">
      </div>
      <div class="spinner-grow text-dark" style="margin-left: 2vw;" role="status">
      </div>
      <div class="spinner-grow text-dark" style="margin-left: 2vw;" role="status">
      </div>
      <div class="spinner-grow text-dark" style="margin-left: 2vw;" role="status">
      </div>
    </div>
  </div>
</div>
