

.text-title{
  color: #353535;
  font-family: oswalmedium;
}

.text-title-small{
  text-align: left!important;
  color: #353535;
  font-family: oswalmedium;
}
.text-conten{
  display: -webkit-box;
  -webkit-line-clamp: 3;
  overflow: hidden;
  -webkit-box-orient: vertical;
  color: #353535;
}

.text-conten-small{
  display: -webkit-box;
  -webkit-line-clamp: 3;
  overflow: hidden;
  -webkit-box-orient: vertical;
  color: #353535;
}

.game-card-details {
  width: 80%;
  margin: auto;
  margin-bottom: 5vw;
   transition: all 0.2s ease-in-out;

}

.game-card-details-small {
  width: 80%;
  transition: all 0.2s ease-in-out;

}

.game-card-details-big{

  transition: all 0.2s ease-in-out;
}

.game-card-details:hover, .game-card-details-small:hover,  .game-card-details-big:hover{
  transform: scale(1.025);
}

.img-card-small{
  height: 100%;
  Overflow: hidden;
  object-fit: cover;
}

.card-img-top, .game-card-details img{

  Overflow: hidden;
  object-fit: cover;
}

.card-portraid{
  height: 400px;

}


@media screen and (max-width: 800px) {

  .div-card-small{
    display: none;
  }
}
