@font-face {
  font-family: "OswalMedium";
  src: url("/assets/fonts/Oswald-Medium.ttf");
}

@font-face {
  font-family: "MonserratLigth";
  src: url("/assets/fonts/Montserrat-Light.ttf");
}

@font-face {
  font-family: "MonserratThin";
  src: url("/assets/fonts/static/Montserrat-Thin.ttf");
}
.body {
  overflow: auto;
}

.row {
  margin-right: 0px !important;
}

//Cambio color spinner load
.mat-progress-spinner circle, .mat-spinner circle {
  stroke: #141c4c !important;
}

// css para componente de telefono
.number{
  width: 40.6vw;
  border-radius: 12px;
}

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

/* Importing Bootstrap SCSS file. */
@import "~bootstrap/scss/bootstrap";

/* Importing Datepicker SCSS file. */
@import "~ngx-bootstrap/datepicker/bs-datepicker";
